body {
    background: #EDEDED;
    margin-top: -1; margin-left: -1;
    font-family: "karmina";
    color: #0A0A0A;
}

/*numwrap*/
.number {
    background-color: palegreen;
    color: #0A0A0A;
}

/* Headers */

.headerwrap {
    position: fixed;
    width: 100%; height: 7%;
    margin-left: 8%;
/*    margin-right: 6%;*/
    color: #0A0A0A;
    font-family: karmina;
    font-size: 0.9em;
}

h1 {
    font-size: 7.0em;
    font-weight: 400;
    line-height: 0.9em;
}

h3 {
    font-size: 0.95em;
    font-weight: 400;
}

h2 {
    font-size: 1.4em;
    font-weight: 400;
}

p {
    font-size: 1.4em;
    line-height: 1.5em;
}

.headerleft {
    float: left;
}

.headercenter {
    float: left;
    margin-left: calc(22vw - 93px);
}

.headerright {
    float: right;
    margin-right: 15vw;
}


/*  Posts  */

.contentcontainer {
    float: left;
    width: 50%; 
    min-width: 500px; max-width: 750px;
    margin-left: 30%; margin-top: 76px;
    padding-bottom: 6%;
}

  
.indiclist {
    padding-bottom: 6px;  
    font-size: 2.0em;
}

/*DESKTOP BREAKPOINTS*/

/* 1st breakpoint */

@media (max-width: 1100px) {
/*
   
    .headerwrap {
    height: 7vh;
    margin-left: 5%;
    z-index: 1;
    font-size: 3.0em;
    }
    
    .headerwrap h3 {
        font-size: 1.0em;
        font-weight: 400;
    }
    
*/
    .headercenter{
        display: none;
    }
    
    .headerright {
        float: right;
        margin-left: 8vw;
        
    }
    
     .instructions {
        width: 86vw;
        padding-top: 0vh;
        padding-bottom: 3.0vh;
        font-size: 2.0em;
        line-height: 2.0em;
    }
    
    .contentcontainer {
        min-width: 90vw;
        margin-top: 0vh;
        margin-left: auto; margin-right: auto;
        padding-left: 5%;
        padding-right: 5%;
    }




/* MOBILE BREAKPOINTS */

/* iPhone 6 Breakpoint */
/*

@media(max-width: 375px) {
    
    .headerwrap {
    height: 7vh;
    margin-left: 5%;
    }
    
    
    .headerwrap h3 {
        font-size: 1.1em;
    }
    
    .headercenter {
        display: none;
    }
    
    .headerright {
        float: right;
        margin-right: 8vw;
        
    }
    
    .instructions {
        width: 80vw;
        padding-top: vh;
        padding-bottom: 4vh;    
    }
    
    .contentcontainer {
        margin-top: 3vh;
        padding-bottom: 8vh;
    }
    
*/
