body {
    width: 100vw;
    background: #F5F5F5;
    margin-top: -1; margin-left: -1;
    font-family: karmina, serif;
    font-style: normal;
    color: #0A0A0A;
}

/*numwrap*/
.number {
/*    background-color: palegreen;*/
    color: #0A0A0A;
/*    border-bottom: 60px solid cornsilk;*/
    line-height: 40vh;
    font-size: 4.0em;
}

.highlight {
    background: cornsilk;
}

/* Headers */

/*
.headerwrap {
    position: fixed;
    width: 100%; height: 7%;
    margin-left: 8%;
    margin-right: 6%;
    color: #0A0A0A;
    font-family: karmina, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
}
*/

h1 {
    font-size: 6.8em;
    font-weight: 400;
    line-height: 0.9em;
}

h3 {
    font-size: 0.95em;
    font-weight: 400;
}

h2 {
    font-size: 3.8em;
    font-weight: 400;
}

p {
    font-size: 1.4em;
    line-height: 1.5em;
}

.headerleft {
    float: left;
}

.headercenter {
    float: left;
    margin-left: calc(22vw - 93px);
}

.headerright {
    float: right;
    margin-right: 15vw;
}

.soundbar {
    width: 90vw;
    height: 2ppx;
    margin-top: -10px;
    padding-bottom: 3vh;;
}

/*  Posts  */

.contentcontainer {
    float: left;
    width: 50%; 
    min-width: 500px; max-width: 750px;
    margin-left: 30%; margin-top: 76px;
    padding-bottom: 6%;
}

  
.indiclist {
    width: 100vw;
    padding-top: 0vh;
    padding-bottom: 25vh;  
    font-size: 2.6em;
/*    border-bottom: 8px solid #1A1A1A;*/
}

/*DESKTOP BREAKPOINTS*/

/* 1st breakpoint */

@media (max-width: 1000px) {
/*
   
    .headerwrap {
    height: 7vh;
    margin-left: 5%;
    z-index: 1;
    font-size: 3.0em;
    }
    
    .headerwrap h3 {
        font-size: 1.0em;
        font-weight: 400;
    }
    
*/
    .headercenter{
        display: none;
    }
    
    .headerright {
        float: right;
        margin-left: 8vw;
        
    }
    
     .instructions {
        min-width: 100vw;
        margin-top: 0vh;
        margin-left: auto; margin-right: auto;
        padding-left: 10%;
        padding-right: 10%;
        width: 100vw;
        padding-top: 1vh;
        font-size: 2.4em;
        line-height: 2.4em;
    }
    
    .contentcontainer {
        background: cornsilk;
        min-width: 100vw;
        margin-top: 10vh;
        margin-left: auto; margin-right: auto;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 30%;
    }
    




/* MOBILE BREAKPOINTS */

/* iPhone 6 Breakpoint */
/*

@media(max-width: 375px) {
    
    .headerwrap {
    height: 7vh;
    margin-left: 5%;
    }
    
    
    .headerwrap h3 {
        font-size: 1.1em;
    }
    
    .headercenter {
        display: none;
    }
    
    .headerright {
        float: right;
        margin-right: 8vw;
        
    }
    
    .instructions {
        width: 80vw;
        padding-top: vh;
        padding-bottom: 4vh;    
    }
    
    .contentcontainer {
        margin-top: 3vh;
        padding-bottom: 8vh;
    }
    
*/
